*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins',sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.navbar h1{
    color: rgb(142, 6, 6);
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #1d231d;
}


.navbar-link a:hover{
    text-decoration: underline;
    color: #1d232c;
}

.navbar-menu-toggle{
    display: none;
}
/*Side navbar*/

.side-navbar{
    background-color: #1d231d;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;

}

.side-navbar-link{
    margin-bottom: 30px;

}

.side-navbar-links a{
    text-decoration: none;
    color: white;
}
.side-navbar-links a:hover{
    text-decoration: underline;
    
}

/*Header*/

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header a{
    text-decoration: none;
    color: white;
}

.header-button{
    padding: 20px 10px;
    margin-top: 10px;
    background-color: #1d232c;
    cursor: pointer;
}

/*Service*/
.service{
    padding: 20px;
    
}

.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    
}
.service-container-2 div{
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
    
}
.service-container-2 i{
    margin-bottom: 10px;
}
.service-container-2 h4{
    margin-bottom: 10px;
}


.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}

.new-arrival button{
    padding: 5% 5%;
    margin-top: 10px;
    color: #1d232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}
.new-arrival img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}
.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
    margin-top: 5px;
}
.news button{
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1d232c;
    border-radius: 10px;
    padding: 10px;
}
/*Search*/
form{
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    height: 50px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

form input{
    flex: 1;
    height: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    color:black;
    font-size: 18px;
    padding: 0 30px;
}

form button{
    padding: 0 40px;
    height: 100%;
    background: gray;
    color: black;
    font-size: 18px;
    border: 0;
    outline: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;

}

::placeholder{
    color: white;
    font-size: 18px;
}

#show-more-btn{
    background: gray;
    color: black;
    border: 0;
    outline: 0;
    padding: 7px 4px;
    border-radius: 7px;
    margin: 10px 45%;
    cursor: pointer;
    display: none;
}
/*Search result*/
#search-result{
    width: 90%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}
/*footer*/
.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1d232c;
    color: #f2f4f7;
}

/*Contact*/

.contact{
  background-color: #1d232c;
  color: white; 
  margin: 20px auto;
  width: 80%;
  height: 600px;
  border-radius: 10px;
}
.contact-container{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}
.contact-container input{
    padding: 10px 10px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 20px;
}
.contact-container textarea{
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 20px;
}
.submit{
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: 0;
    outline: 0;
    width: 80px;
   margin-bottom: -30px;
}
   

/*Media Query*/

@media screen and (max-width:600px){
    .navbar-menu-toggle{
        display: block;
    }

    .navbar-links{
        display: none;
    }
    .header img{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
    .new-arrival{
    width: 80%;
    margin-left: 55px;
    margin-bottom: 10px;
    border-radius: 5px;
    flex-direction: column;
}
.new-arrival-container{
    margin-bottom: 20px
}

#search-result{
    width: 90%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
}